<div id="enclosure_name">Enclosure Name: {{enclosureInfo.animalEnclosureName}}</div>
<div>Animal Inside Enclosure: {{enclosureInfo.animal.animalName}}</div>
<div>Number of {{enclosureInfo.animal.animalName}}'s Inside of Enclosure: {{enclosureInfo.numberOfAnimals}}</div>
<div>Feeding Time: {{enclosureInfo.feedingTime}}</div>
<div>Enclosure Condition: {{enclosureInfo.enclosureCondition.enclosureCondition}}</div>
<button id="edit_enclosure_button" class="btn btn-primary" ng-click="openEditModal(enclosureInfo.animalEnclosureId)">Edit Enclosure</button>
<button id="delete_enclosure_button" class="btn btn-danger" ng-click="deleteEnclosure(enclosureInfo.animalEnclosureId)">Delete Enclosure</button>